<div class="container">
  <div class="content">
    <div class="main-content">
      <div class="cart-content" >
        <app-inheritance-list></app-inheritance-list>
      </div>
      <div class="cart-form">
        <form class="form" [formGroup]="myForm" (ngSubmit)="calculateInheritance()">
          <span><input value="0" type="text" placeholder="" formControlName="propertyAmount"/></span>

          <!-- <span class="input">
            <select formControlName="gender">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </span> -->

          <span class="input">
            <select formControlName="hasFather">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </span>

          <span class="input">
            <select formControlName="hasMother">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </span>

          <span class="input">
            <select formControlName="hasHusband">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </span>

          <span class="input">
            <select formControlName="hasWife">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>
          </span>
          <span class="input"><input value="0" type="text" placeholder="input" formControlName="numberOfSons"></span>
          <span class="input"><input value="0" type="text" placeholder="input" formControlName="numberOfDaughters"></span>
          <span class="input"><input value="0" type="text" placeholder="input" formControlName="numberOfPaternalBrothers"></span>
          <span class="input"><input value="0" type="text" placeholder="input" formControlName="numberOfPaternalSisters"></span>
          <button type="reset" (click)="clearForm()">Clear</button>
          <button type="submit">Calculate</button>

        </form>
      </div>
    </div>
    <br>
    <hr>
          <h3> propertyAmountValue: {{propertyAmountValue}}</h3>
          <h3>Father: {{hasFatherValue}}: {{resultF}}</h3>
          <h3>Mother: {{hasMotherValue}}: {{resultM}}</h3>
          <h3>Wife: {{hasWifeValue}}: {{resultW}}</h3>
          <h3> numberOfSonsValue:{{numberOfSonsValue}}: {{resultS}}</h3>
          <h3> numberOfDaughtersValue {{numberOfDaughtersValue}}: {{resultD}}</h3>
          <h3> numberOfPaternalBrothersValue: {{numberOfPaternalBrothersValue}}: {{resultB}} </h3>
          <h3> numberOfPaternalSistersValue: {{numberOfPaternalSistersValue}}: {{resultSi}} </h3>
          <hr>
          <hr>
          <br>
          <br>

</div>


